{% extends 'base.html.twig' %}

{% block title %}Spela 21{% endblock %}

{% block body %}
<div class="content">
    <div class="row">
        <h1>Spela 21</h1>
    </div>

    {% if gameOver %}
        <div class="overlay">
            <div class="game-over-message" style="background-color: {% if winMessage == 'Du vann!' %}lightgreen{% else %}#ff0000{% endif %};">
                {% if winMessage %}
                    <h2>{{ winMessage }}</h2>
                {% else %}
                    <h2>Game over</h2>
                {% endif %}
                <form action="{{ path('start_game') }}" method="GET">
                    <button type="submit" class="btn btn-primary">Börja om</button>
                </form>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="hand-container">
            <div class="hand">
                <h2>Spelarens hand:</h2>
                <ul>
                    {% if playerHand %}
                        {% for card in playerHand %}
                            <li>{{ card }}</li>
                        {% endfor %}
                    {% else %}
                        <li>Inga kort ännu</li>
                    {% endif %}
                </ul>
                <p>Totalt värde: {{ playerTotal }}</p>
                {% if not gameOver %}
                    <form action="{{ path('draw_card') }}" method="POST">
                        <button type="submit" class="btn btn-primary">Dra ett kort</button>
                    </form>
                    <form action="{{ path('stand_game') }}" method="POST">
                        <button type="submit" class="btn btn-primary">Stanna</button>
                    </form>
                {% endif %}
            </div>
            <div class="hand">
                <h2>Bankens hand:</h2>
                <ul>
                    {% if bankHand %}
                        {% for card in bankHand %}
                            <li>{{ card }}</li>
                        {% endfor %}
                        <p>Totalt värde: {{ bankTotal }}</p>
                    {% else %}
                        <li>Inga kort ännu</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
