{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

<div class="content">
    <div class="row">
        <h1>API Landing Page</h1>
    </div>
    <div class="row">
        <div class="column">
            <h2>Tillgängliga Json routes:</h2>
            <ul>
                <li><a href="{{ path('api_quote') }}">Quote</a></li>
                <li><a href="{{ path('api_deck') }}">Deck</a></li>
                <li><a href="{{ path('api_deck_shuffle') }}">Shuffle</a></li>
                <li><a href="{{ path('api_deck_draw_one') }}">Draw</a></li>
                <li><a href="{{ path('game_state') }}">Game State</a></li>
                <li><a href="{{ path('api_library_books') }}">Library</a></li>
                <li><a href="{{ path('api_library_book_by_isbn', {'isbn': '129474983649'}) }}">Exempel bok med ISBN 129474983649</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}